html, body {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 20px;
}
h1 {
    text-align: center;
}

.contaner {
    width: 100%;
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    /* margin-left: -15px; */
    display: flex;
    justify-content: center;
}
.col {
    width: 390px;
    height: 400px;
    background: #fff;
    border: 1px solid #c4c4c4;
    margin-top: 15px;
}
.city,
.country {
    text-align: center;
}
.city {
    color: #4c4c4c;
    font-size: 38px;
    line-height: 1;
    font-weight: 700;
}
.middle-content {
    display: flex;
    background: #fafafa;
}
.middle-content__img {
    width: 50%;
}
.middle-content__data {
    border-radius: 5px;
    padding: 20px 0;
    /* display: flex; */
}
.middle-content__temperature {
    font-size: 80px;
    line-height: 1;
    font-weight: 800;
    color: #dedede;
    /* flex: 100%; */
}
.middle-content__hi,
.middle-content__lo {
    width: 30%;
    display: inline-block;
}